<div class="container rounded shadow-lg bg-light p-4 animated fadeInLeft">
    <h1>Contacto</h1>
    <p>En el <b>Panal de Trabajo</b>, estamos para servirle, por favor contáctenos si tiene alguna duda con gusto te atenderemos. </p>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img class="img img-fluid" src="../../../assets/img/PanalCUVT.png">
        </div>
        <div class="col col-md-8">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="font-weight-bold">Teléfono 1</p>
                    <p>(+52) 771 569 8708</p>
                    <p class="font-weight-bold">Teléfono 2</p>
                    <p>(+52) 557 889 9776</p>
                    <p class="font-weight-bold">Dirección de Correo Electrónico</p>
                    <p><a href="mailto:panaltrabajo@gmail.com">panaltrabajo@gmail.com</a></p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Página de Facebook</p>
                    <p>@Panal del Trabajo CUVT</p>
                    <p class="font-weight-bold">Dirección</p>
                    <p>Ciudad de México, México.</p>
                    <p class="font-weight-bold">Horarios de atención</p>
                    <p>08:00 am - 08:00 pm Lunes - Jueves <br> 09:00 am - 05:00 pm Viernes <br> 10:00 am - 03:30 pm Sábado - Domingo</p>
                </div>
            </div>
        </div>
    </div>
</div>