<h4 *ngIf="notifications.length === 0">Sin notificaciones</h4>

<div *ngIf="notifications.length > 0" class="animated fadeIn">
    <ul class="list-group list-group-flush" *ngFor="let notification of notifications.reverse()">
        <li class="list-group-item" [class]="{pointer: notification._id}" [routerLink]="['/profile/'+notification.type, notification._id || undefined]">
            <h5>{{ notification.title }}</h5>
            {{ notification.description }} <small>{{ notification.create | date:'medium' }}</small>
        </li>
    </ul>
</div>