<div class="background-modal animated fadeIn" [ngClass]="modalUploadService.hide">
    <div class="modal show-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subir archivo</h5>
                    <button type="button" (click)="hideModal()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body" align="center">

                    <img *ngIf="!imageTemp" class="img img-fluid rounded rounded-lg imageModal" [src]=" '' | image:token: 'photography': '../../assets/img/no-img.jpg'">
                    <img *ngIf="imageTemp" class="img img-fluid rounded rounded-lg imageModal" [src]="imageTemp">
                    <div class="custom-file mt-2 mb-2">
                        <input type="file" class="custom-file-input" accept="image/*" lang="es" (change)="imageSelected( $event.target.files[0] )">
                        <label class="custom-file-label text-primary font-weight-bold">Seleccionar imágen</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="uploadFile()" [disabled]="!imageTemp" class="btn btn-primary">Subir imagen</button>
                    <button type="button" (click)="hideModal()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>