
<div class="card w-50 mx-auto animated fadeInLeft">
    <div class="card-header text-center border-0">
        <span class="icon-lock display-4 logo"></span>
    </div>
    <div class="card-body animated fadeIn">
        <form>
            <div class="w-75 mx-auto">
                <small class="font-weight-bold"></small>
                <div class="alert alert-danger d-none" role="alert">
                    Error! El usuario ingresado no existe!. <span class="icon-spinner11"></span>
                </div>
                <div class="container-fluid d-none">
                  <label for="password" class="font-weight-bold">La nueva contraseña ha sido enviada al siguiente correo electrónico:</label>
                  <input type="text" class="form-control mb-3 inputs" value="mail****@domain.com" disabled>
                </div>
                <label for="usuario" class="font-weight-bold">Ingrese su usuario</label>
                <input type="text" id="user" name="usuario" class="form-control mb-3 inputs" placeholder="Usuario" required autofocus>


                <!-- Terminos y condiciones-->
              	<div class="form-group custom-control custom-checkbox">
              		  <input class="form-check-input" type="checkbox" checked disabled>
                        <a class="text-primary font-weight-bold" [routerLink]="['terminos&condiciones']"><small class="font-italic">Acepto los Términos y condiciones de uso</small></a>
              		     <small class="form-text text-muted">Para continuar acepte los términos y condiciones de uso.</small>
              		  </div>
            </div>
        </form>
        <div class="w-50 mx-auto">
            <button class="btn btn-info btn-block btn-lg" [routerLink]="['/recuperar_cuenta']">Recuperar contraseña</button>

        </div>
    </div>