<div class="jumbotron jumbotron-fluid animated fadeInLeft p-1 p-lg-5 rounded shadow-lg">

    <div class="container bg-ligth">
        <div class="display-4">Sobre nosotros</div>
        <p class="lead text-justify">Somos una organización digital destinada a brindar servicios a la comunidad, consiste en una herramienta de búsqueda de empleo a nivel Regional.</p>

        <h2>Equipo de desarrollo:</h2>
        <div class="row text-center">
            <div class="col">
                <p class="font-weight-bold">Gerardo Bautista Castañeda</p>
                <p class="text-muted">Desarrollador</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Abraham Emmanuel Alvarez Herrera</p>
                <p class="text-muted">Supervisor</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-primary btn-lg" [routerLink]="['/contact']">Contáctenos</button>
            </div>
        </div>
    </div>

</div>