<div class="row">
    <!-- Imagen principal y descripcion  -->
    <div class="col col-lg-7 text-center pr-lg-4 desabilitar-opciones animated fast fadeInLeft">
        <img src="../../../assets/img/logo.png" class="img-fluid w-50">
        <p class="lead text-justify">La aplicación tiene como objetivo principal facilitar la búsqueda de trabajo a estudiantes universitarios y/o egresados del Centro Universitario Valle de Teotihuacán.</p>
    </div>
    <!-- Formulario -->
    <div class="col animated fade fadeIn duracion">
        <app-form-login></app-form-login>
    </div>
</div>