<app-profile-navbar [status]="conected"></app-profile-navbar>
<div class="container-fluid ml-0 mt-5 pt-4">
    <div class="alert alert-danger text-center animated fadeIn" *ngIf="!conected" role="alert">
        No cuenta con conexión, reintentado&nbsp;
        <fa-icon [icon]="['fas', 'spinner']" size="lg" [pulse]="true"></fa-icon>
    </div>
    <div class="row">
        <div class="col col-lg-auto margenes-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-12 col-lg margenes-container">
            <div class="shadow-lg p-3 rounded" id="workArea">
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-modal-upload></app-modal-upload>
<app-modal-upload-file></app-modal-upload-file>